html{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-image: url('dark.jpeg');
	background-size: cover;
}


.line{
	position: fixed;
	height: 100%;
	width: 1px;
	top: 0%;
	left: 2.8%;
	border: 0px solid black;
	background-color: rgb(0.164,227);
	z-index: -1;
	margin: 0px;
}


.navbar{

	width: 20%;
	height: 70%;
	//background-color: red;
	position: absolute;
	top: 16%;
	left: 0px;
	
}

div{
	height: 18px;
	width: 18px;
	border-radius: 50px;
	border: 3px solid black;
	margin-left: 2%;
	margin-right: 0px;
	position: fixed;
	background-color: white;

	
}
span{
	position: absolute;
	left: 200%;
	color: white;
}

#about{
	top: 25%;
}
#skills{
	top: 35%;
}
#work{
	top: 45%;
}
#blog{
	top: 55%;
}




 

.footer{
	position: fixed;
	height: 70%;
	width: 20%;
	top: 30%;
	right: 0%;
	background-color: transparent;
    

}

.connect{
	position: relative;
	height: 30px;
	width: 30px;
	margin: 15px;
	left: 70%;
	background-color: transparent;
	border-color: transparent;

}
img{
	height: 30px;
	width: 30px;
}



section{
	height: 80%;
	width: 70%;
	//background-color: red;
	//border: 2px solid white;
	position: relative;
	top: 8%;
	left: 17%;
	font-family: 'Montserrat', sans-serif;
	text-shadow: -1px 1px .2em rgba(25,0,0,.4),1px -1px .4em rgba(255,255,255,.4);
	color: white;
	font-size: 60px;
    font-weight: 500;
    letter-spacing: -4px;
    text-align: center;

}
h1{
    position: absolute;
    top: -10%;
    left: 10%;
}
#red{
	position: relative;
	left: 5%;
	
	color: white;
}
p{
	position: relative;
	top: 20%;
	left: auto;
	font-size: 30px;
	text-shadow: none;
	font-weight: 100;
	color: white;
	letter-spacing: 10px;

}
