html{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-image: url('dark.jpeg');
	background-size: cover;
	-webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
}


.line{
	position: fixed;
	height: 100%;
	width: 1px;
	top: 0%;
	left: 2.8%;
	border: 0px solid black;
	background-color: rgb(224,0,68);
	z-index: -1;
	margin: 0px;
}


.navbar{

	width: 20%;
	height: 70%;
	//background-color: red;
	position: absolute;
	top: 16%;
	left: 0px;
	
}

div{
	height: 18px;
	width: 18px;
	border-radius: 50px;
	border: 3px solid black;
	margin-left: 2%;
	margin-right: 0px;
	position: fixed;
	background-color: rgb(224,0,68);

	font-size: 15px;
}
span{
	position: absolute;
	left: 200%;
	color: rgb(255,63,74);
	opacity: 0.5;
	font-family: 'Jura',sans-serif;
}
span:hover{
	opacity: 0.9;
}

#about{
	top: 25%;
}
#skills{
	top: 35%;

}
#work{
	top: 45%;
}
#blog{
	top: 55%;
}




 

.footer{
	position: fixed;
	height: 500px;
	width: 100px;
	top: 30%;
	right: 0%;
	background-color: transparent;
    

}

.connect{
	position: relative;
	height: 30px;
	width: 30px;
	margin: 15px;
	background-color: transparent;
	border-color: transparent;
}
img{
	height: 30px;
	width: 30px;
}



section{
	height: 80%;
	width: 70%;
	//background-color: red;
	/*border: 2px solid white;*/
	position: relative;
	top: 8%;
	left: 17%;
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Jura',sans-serif;
	text-shadow: -1px 1px .2em rgba(138,0,80,.4),1px -1px .2em rgba(138,0,80,.4);
	color: white;
	/*font-size: 30px;*/
    font-weight: 40;
	margin: auto;
	padding: auto;
    letter-spacing: 4px;
    text-align: center;
    display: inline-block;


}


p{
	/*position: relative;*/
	/*top: 25%;*/
	/*left: auto;*/
	font-size: 150%;
	/*text-shadow: none;*/
	font-weight: 100;
	color: rgb(138,0,80);
	letter-spacing: 10px;
	line-height: 40px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	width: auto;
	height: 50px;

}
#name{
	font-size: 330%;
	/*position: absolute;*/
	top: 10%;
	left: 22%;
	margin-bottom: 30px;
	margin-top: 70px;
	
}

#resume{
	height: 50px;
	width: 50px;
	background-image: url("social/pdf.svg");
	background-size: contain;
	/*position: absolute;*/
	top: 45%;
	left: 47%;
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}
#rtext{
	font-size: 130%;
	letter-spacing: 1px;
	font-weight: 0;
	margin-top: 1px;
	/*font-family: "Lato", Arial, Helvetica, sans-serif;*/
	font-family: 'Jura',sans-serif;
	color: rgba(138,0,80,0.75);
}


