html{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-image: url('chemistry.jpg');
	background-size: cover;
}
.navbar{

	width: 20%;
	height: 70%;
	//background-color: red;
	position: absolute;
	top: 16%;
	left: 0px;
	
}

div{
	height: 18px;
	width: 18px;
	border-radius: 50px;
	border: 3px solid black;
	margin-left: 10%;
	margin-right: 0px;
	position: relative;
	background-color: white;

	
}
span{
	position: absolute;
	left: 200%;
	color: white;
}

#about{
	top: 20%;
}
#skills{
	top: 30%;
}
#work{
	top: 40%;
}
#blog{
	top: 50%;
}

#line{
	height: 50%;
	width: 1px;
	top: 2%;
	left: 4%;
	border: 0px solid black;
	background-color: white;
	z-index: -1;
}


 

.footer{
	position: fixed;
	height: 70%;
	width: 20%;
	top: 30%;
	right: 0%;
	background-color: transparent;
    

}

.connect{
	position: relative;
	height: 30px;
	width: 30px;
	margin: 15px;
	left: 70%;
	background-color: transparent;
	border-color: transparent;

}
img{
	height: 30px;
	width: 30px;
}
